<div id="serie" ng-show="show_serie" dir="rtl">
    <img class='serie_image' src="http://google.itv-channel.com/images/{{serie.image}}" id="serie_bg"></img>
    <div class="serie_info">
        <div class="serie_title">{{serie.title}}</div>
        <div>{{serie.plot}}</div>
    </div>
    <div class="serie_video">
        <table>
            <tr>
                <td valign="top" class="seasons_title">עונות</td>
                <td><div ng-repeat="season in seasons" ng-class="{'season_id':true, 'focus':choose_season&&seasons[season_id]=={{season}}, 'selected':!choose_season&&seasons[season_id]=={{season}}}">{{season}}</div></td>
            </tr>
            <tr>
                <td valign="top" class="seasons_title">פרקים</td>
                <td><div ng-repeat="episode in episodes" ng-class="{'season_id':true, 'focus':!choose_season&&episodes[episode_id]=={{episode}}, 'selected':play_episode&&episodes[episode_id]=={{episode}}}">{{episode}}</div></td>
            </tr>
        </table>


    </div>

</div>