#main {
    position: absolute;
    width: 100%;
    user-drag: none;
    user-select: none;
    /*cursor:none;*/
    color: white;
    overflow-y: hidden;
    font-family: Arial;
}

#backgroundvid {
    position: fixed; right: 0; bottom: 0;
    width: 100%; height: 100%;
}

.esp_main {
    position: fixed; right: 0; bottom: 0;
    width: 80%; height: 150px;
    padding-left: 20%;
    background: black;
    color: white;
    opacity: 0.9;
    padding-right: 50px;
    padding-top: 25px;
    -webkit-transition:all linear 0.3s;
    transition:all linear 0.3s;
}

#esp_title {
    font-size: 45px;
    font-family: "Narkisim";
    margin-bottom: 4px;
}

#esp_description {
    font-size: 26px;
    font-family: "Arial";
    color: white;
}

.esp_main.ng-hide {
    opacity:0;
    /* transform: scale(0.8); */
    height:50px;
}

.ch_main {
    position: fixed; left: 70px; top: 60px;
    width: 100px; height: 75px;
    background: black;
    color: white;
    font-family: "Narkisim";
    font-size:80px;
    letter-spacing: 5px;
    font-stretch: expanded;
    text-align: center;
    opacity: 0.8;
}

#vod {
    margin-top: 70px;
}

.results {
    position: relative;
    margin: auto;
    width: 1680px;
}

.result_info {
    width: 275px;
    height:380px;
    float: right;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.result_image {
    margin: auto;
    width:214px;
    height:317px;
    border-style: solid;
    border-color: rgba(255,255,255,0.1);
    border-width: 2px;
}

.res1 {
    border-color: dodgerblue;
    border-width: 3px;
}

.res2-add, .res2-remove {
    transition:all linear 0.2s;
}

.res2,
.res2-add.res2-add-active {
    margin: auto;
    width: 235px;
    height: 349px;
}

.results_fade-add, .results_fade-remove {
    transition:all linear 0.2s;
}

.results_fade,
.results_fade-add.results_fade-add-active {
    opacity: 0.1;
}

#serie {
    position: fixed;
    width: 1200px;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -350px;
    background: black;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    transition:all linear .2s;
    padding: 50px;
}

#serie.ng-hide {
    opacity: 0;
}

.serie_image {
    float: right;
    margin-left: 25px;
    margin-bottom: 5px;
    width:214px;
    height:317px;
    border-style: solid;
    border-color: rgba(255,255,255,0.1);
    border-width: 2px;
}

.serie_title {
    font-size:32px;
    font-weight: 500;
    margin-bottom: 10px;
}

.serie_info {
    font-size: 25px;
    text-align: justify;
}

.serie_video {
    clear:both;
    padding-top: 15px;
}

.seasons_title {
    width:70px;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    /*display: inline-block;*/
}

.season_id {
    width: 36px;
    height: 24px;
    font-size: 20px;
    margin-right:18px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;

}

.season_id.focus {
    border-color: #9e5c8a;
}

.season_id.selected {
    font-size: 20px;
    background-color: #9e5c8a;
    color: white;
    font-weight: 600;
}